/*mobile query starts here*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {



}/*closes mobile query*/
/****************************************************************************************************/
/*tablet query starts here*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {



}/*closes tablet query*/
/*****************************************************************************************************/
/*laptop query starts here*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
	@font-face {
		font-family: '';
		src: url('');
	}
	body {
		margin-top: -140px;
	}

	.uppercase {
		text-transform: uppercase;
	}
   
	#eventsContainer h2 {
		margin-left: 50px;
		color: #006495;
		font-size: 30px;
	}

	#eventsContainer {
		width: 80%;
		margin: auto;
		position: relative;
		bottom: 70px;
	}

	#eventsListDiv {
		width: 45%;
		float: left;
	}

	#eventsDetailDiv {
		width: 45%;
		float: right;
	}

	#schoolEventsDetailDiv {
		margin-left: 50px;
	}
    
    /*events list on parent events page*/
	#classEventsDetailDiv {
		margin-left: 15em;
        float: left;
        width: 70%;
        padding: 1em;
	}
	
	#classEventsDetailDiv img {
		width: 200px;
		border-radius: 5px;
    }
    
	#classEventsDetailDiv h3 {
        width: 50%;
        letter-spacing: .25px;
		position: relative;
		left: 230px;
		bottom: 130px;
	}
    
	#classEventsDetailDiv span {
        letter-spacing: .30px;
		position: relative;
		left: 230px;
		bottom: 130px;
		width: 100px;
	}
    
    #addEventBtn {
        width: 25%;
    }

	#schoolEventsDetailDiv{
		margin-left: 50px;
	}
	
	div.sexyLine {
		margin-top: 10px;
	}
    
	.sexyLine {
		display: block;
		border: none;
		color: white;
		height: 1px;
		background: black;
		background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
	}
    
	#EventName a {
		color: yellow;
	}
	.eventsAdd {
		margin-top: 30px;
	}
	#formContainer {
		/*margin: auto;*/
		width: 100%;
		margin-right: 0;
		background-color: black;
		padding: 1em 0 5em 0;
	}
	.addEventForm {
		background-color: black;
		width: 50%;
		margin: auto;
	}

	.filler {
		height: 4em;
	}
	.centerView {
		width: 60%;
		margin: auto;
	}
/*	.sexyButton {
		color: #08233e;
		font: 1.5em Futura, 'Century Gothic', AppleGothic, sans-serif;
		padding: 8px;
		border: 1px solid #ffcc00;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		border-bottom: 1px solid #9f9f9f;
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
		-webkit-box-shadow: inset 0 1px 0 rgba (255, 255, 255, 0.5);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
		cursor: pointer;
		background-color: rgba(255, 204, 0, 1);
	}
	button:hover {
		background-color: rgba(255, 204, 0, 0, 8);
	}*/
  
	.head {
		width: 80%;
		height: 900px;
		margin: auto;
		overflow: scroll;
	}

	#button {
		width: 200px;
		margin: 10px;
	}

	/********style the event form*********/
	#teacherAddEvent {
		width: 50%;
		margin: auto;
		text-align: center;
		background-color: black;
		padding: 2em;
	}
    
	input,
	textarea {
		padding: 9px;
		border: solid 1px #e5e5e5;
		outline: 0;
		font: normal 13px/100% Verdana, Tahoma, sans-serif;
		width: 400px;
		background: #ffffff;
		color: black;
	}
	textarea {
		width: 400px;
		max-width: 400px;
		height: 150px;
		line-height: 150%;
	}

	input:hover,
	textarea:hover,
	input:focus,
	textarea:focus {
		border-color: #c9c9c9;
		-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}
	.form label {
		margin-left: 10px;
	}

	#button {
		width: 200px;
		margin: 10px;
	}

}/*closes laptop query*/
/****************************************************************************************/
/*large screen query starts here*/
@media only screen and (min-width: 1824px) {

	#classEventsDetailDiv p {
		border: 1px solid #006495;
		border-radius: 5px;
		padding-left: 15px;
		padding-top: 10px;
	}

}/*closes laptop query*/
/****************************************************************************************/
