
#feeContainer {
	width: 80%;
	height: 100%;
	margin: auto;
	position: relative;
	left: 80px;
}

#fixedH2 {
	display: inline-block;
	position: fixed;
	margin-left: 6em;

}

.feeHeader h2 {
	color: #006495;
	font-size: 35px;
	text-decoration: underline;
	margin: 0;
}

#feesDiv2 {
	/*border: 1px solid blue;*/
	position: fixed;
	display: inline-block;
	width: 30%;
	background-color: lightgray;
	border-radius: 5px;
}

#feesDiv2 span{
	padding: 10px;
}

.color {
	color: #006495;
}

#feeDetailDiv {
	position: relative;
	display: inline-block;
	right: 100px;
	float: right;
	height: 400px;
	width: 40%;
	border: 1px solid gray;
	border-radius: 5px;
	overflow: scroll;
}

#feeDetailDiv p {
	margin-left: 0px;
}

#feeDetailDiv p a {
	color: #1a8cab;
}

.borderBottom {
	border-bottom: 1px solid rgb(44, 44, 44);
}

.StudentListItem-feeLink {
	color: #1a8cab;
}

.StudentListItem-feeLink:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*@media only screen and (min-width: 1824px) {
	body {
		margin-top: 120px;
	}
	#feeContainer {
		width: 70%;
		height: 100%;
		margin: auto;
	}
	#fixedH2 {
		display: inline-block;
		position: fixed;
		margin-left: 1em;
	}
	.feeHeader h2 {
		color: #006495;
		font-size: 35px;
		text-decoration: underline;
		margin: 0;
		margin-top: 20px;
	}
	.clearFloat {
		clear: both;
		margin: 0;
		padding: 0;
	}
	#feesDiv2 {
		/*border: 1px solid blue;
		position: fixed;
		margin-left: 50px;
		display: inline-block;
		width: 45%;
		top: 200px;
	}
	
	#feesDiv2 p{
		font-size: 25px
	}
	
	.color {
		color: #006495;
	}
	#feeDetailDiv {
		position: relative;
		display: inline-block;
		left: 90px;
		bottom: 120px;
		float: right;
		width: 65%;
		height:300px;
		border: 1px solid gray;
		border-radius: 5px;
		overflow: scroll;
	}

	#feeDetailDiv p a {
		color: #1a8cab;
	}
	/*  .lightBlue {
  color: lightblue;
}
	.borderBottom {
		border-bottom: 1px solid rgb(44, 44, 44);
	}
	.StudentListItem-feeLink {
		color: #1a8cab;
	}
	.StudentListItem-feeLink:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}*/