#backBtn {
  width: 90%;
  margin: auto;
  font-size: 20px;
  margin-left: 40px;
}

#backBtn a {
    color: #1a8cab;
}

#feeContainer {
  width: 80%;
  margin: auto;
}

#childFeeDetail {
  width: 40%;
  display: inline-block;
  position: relative;
  left: 40px;
}

#feeForm {
  width: 40%;
  display: inline-block;
  margin: auto;
  float: right;
}

#feeForm form {
  position: relative;
  top: 20px;
  border: 1px solid black;
  height: 170px;
}

.form-row {
  margin: 10px;
  margin-left: 20px;
  margin-top: 20px;
}

.form-row input {
  height: 25px;

}

.num {
  width: 50%;
}


#button {
  width: 40%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  background: #1a8cab;
  position: relative;
  left: 30px;
  top: 10px;
}