

	#homeContainer {
		width: 96%;
		height: 100%;
		margin: auto;
		position: relative;
		top: 120px;	
	}
	#homeContainer figure {
		width: 80%;
		height: 200px;
		position: relative;
		border: 1px solid gray;
		border-radius: 10px;
		overflow: hidden;
		background-position: center;
	}
	
		#homeContainer p {
		position: relative;
		margin-left: 45px;
		margin-top: 10px;
		padding-left:10px ;
		width: 75%;
		bottom: 50px;
		background: gray;
		color: white;
		font-size: 25px;
		padding-left: 15px;
		border-radius: 5px;
	}
	.hover07 figure img {
		background-position: center;
		width: 100%;
		height: 200px;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		text-align: center;
		margin: auto;
	}

	h2 {
		position: fixed;
		right: 60px;
		font-size: 30px;
	}
	.centerContainer {
		position: relative;
		display: inline-block;
		width: 33%;
		margin: auto;
		top: 100px;
	}
	.leftContainer {
		width: 33%;
		height: 100%;
		display: inline-block;
		position: relative;
		float: left;

	}
	.rightContainer {
		width: 33%;
		height: 100%;
		display: inline-block;
		float: right;
		position: relative;
	}



