@media screen and (min-width: 600px) {
	li {
		position: relative;
		list-style: none;
		left: 400px;
		bottom: 70px;
		font-size: 20px;
	}
	figure {
		width: 800px;
		height: 130px;
		margin-top: s20px;
		margin-left: 220px;
		border: 1px solid red;
		overflow: hidden;
	}
	/* image */
	.hover07 figure img {
		background-position: center;
		width: 800px;
		height: 130px;
		-webkit-filter: blur(3px);
		filter: blur(3px);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	.hover07 figure:hover img {
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}