
	body {
		margin-top: 180px;
		color: black;
	}
	
	#studentsDiv2 {
		position: fixed;
		left: 150px;
		margin: 3em 0 0 3em;
		float: left;
		width: 31%;
		height: 20%;
		background-color: rgba(200, 200, 200, 0.20);
		border-radius: 5px;
		padding: 1em;
	}
	
	#studentsDiv2 p {
		margin-top: 40px;
		color: black;
	}
	
	#studentsDiv2 a:hover {
		text-transform: uppercase;
	}
	
	h2 {
		position: fixed;
		left: 8em;
		color: black;
	}
	
	#homeworkDiv {
		position:relative;
		right:100px;
		margin: -11em -5em 0 0;
		float: right;
		width: 45%;
	}
	
	#homeworkDiv a {
		text-decoration: none;
		color: rgb(11, 139, 172);
	}
	
	#homeworkDiv a:hover {
		text-transform: uppercase;
		color: rgb(21, 149, 182);
	}
	
	#homeworkDiv p {
		position: relative;
		bottom: 1em;
		border: 5px solid gray;
		border-radius: 5px;
		color: #7EBADF;
	}
	
	#link {
		color: yellow;
		text-decoration: none;
	}
	
	#assignContainer {
		widows: ;
		dth: 70%;
		height: 100%;
		margin: auto;
	}
	
	.StudentListItem-homeworkLink {
		color: #1a8cab;
	}
	
	#mainAssignments {
		width: 45%;
		height: 800px;
		position: relative;
		display: inline-block;
		border-right: 1px solid gray;
	}
	
	.assignments2 {
		width: 100%;
		height: 45%;
		color: black;
	}
	/*///////////teacher view styling//////////*/
	
	#assignmentContainer {
		position: relative;
		left: 200px;
		bottom: 220px;
	}
	
	.assignmentHeader h2 {
		position: relative;
		left: 90px;
		;
		bottom: 20px;
	}
	
	#uploadAssignments {
		position: relative;
		bottom: 10px;
		left: 100px;
		width: 50%;
		height: 145%;
	}
	
	.assignments p {
		color: black;
	}
	
	.upload {
		width: 40%;
		height: 40px;
		border: 2px solid gray;
		border-radius: 10px;
		font-size: 14px;
		outline: none;
	}
	
	.helpLinks {
		width: 50%;
		height: 30px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		border: 1px solid gray;
		padding-left: 10px;
		outline: none;
		font-size: 14px;
	}
	
	.dueDate {
		width: 35%;
		height: 25px;
		border: 1px solid gray;
		border-radius: 5px;
		padding-left: 20px;
		color: black;
	}
	
	.subBtn {
		width: 15%;
		height: 34px;
		border: 1px solid gray;
		position: relative;
		right: 6px;
		bottom: 1px;
		color: white;
		font-size: 14px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
	.studentAssign:hover {
		background: gray;
		color: white;
	}
	
	#checkBoxContainer {
		width: 30%;
		height: 30%;
		border: 2px solid gray;
		box-shadow: 5px 5px 5px black;
		display: inline-block;
		display: none;
	}
	
	#checkBoxContainer input[type=checkbox] {
		width: 20%;
		height: 20%;
		position: relative;
		left: 10px;
		top: 5px;
	}
	
	#checkBoxContainer span {
		margin: 0;
		position: relative;
		top: 1px;
	}
	
	.turnedIn {
		width: 60%;
		height: 30px;
		border: 1px solid black;
		border-radius: 20px;
		background: red;
		color: white;
		position: relative;
		top: 10px;
		left: 20px;
	}
	
	#projects {
		width: 45%;
		height: 800px;
		position: relative;
		display: inline-block;
		left: 10px;
	}
	
	#teachHome2 {
		position: fixed;
		left: 1000px;
		bottom: 535px;
	}
	
	#teachHome2 img {
		width: 70px;
		height: 70px;
		border-radius: 5px;
	}
	
	#teachHome2 p {
		position: absolute;
		left: 100px;
		bottom: 10px;
	}



