/*mobile query starts here*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
     
      

}/*closes mobile query*/
/****************************************************************************************************/
/*tablet query starts here*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {



}/*closes tablet query*/
/*****************************************************************************************************/
/*laptop query starts here*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 	

	div.sexyLine {
	    margin-top: 50px;
	  }

	.sexyLine { 
	  display: block;
	  border: none;
	  color: white;
	  height: 1px;
	  background: black;
	  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
	}

	.visibleBorder {
		border: 1px solid blue;
	}/*remove later, it's just here to see the div before data entry*/

}/*closes laptop query*/
/************************************************************************************************/
/*large screen query starts here*/
@media only screen  and (min-width : 1824px) {



}/*closes large screen query*/	