@media screen and (min-width: 600px) {

	#homeContainer {
		width: 100%;
		margin-left:450px;
	}
	#homeContainer p {
		position: relative;
		margin: 0;
		width: 40%;
		left: 120px;
		bottom: 48px;
		background: black;
		color: white;
		font-size: 20px;
		padding-left: 15px;
		font-family: 'Sigmar One', cursive;
	}
	
	figure {
		width: 800px;
		height: 200px;
		position: relative;
		left: 80px;
		border: 1px solid gray;
		overflow: hidden;
		text-align: center;
	}
	/* image */
	.hover07 figure img {
		background-position: center;
		width: 100%;
		height: 200px;
		-webkit-filter: blur(1px);
		filter: blur(2px);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		text-align: center;
		margin: auto;
	}
	.hover07 figure:hover img {
		-webkit-filter: blur(0);
		filter: blur(0);
	}

	.center {
		width: 70%;
		margin: 0;
	}

}



