/*mobile query starts here*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	
	@font-face {
		font-family: 'Firestarter Z';
		src: url('../fonts/Firestarter Z.ttf');
	}

	body {
        width: 100%;
		background: url("../images/greenChalkBoard.jpg");
        background-position: center;
		font-family: serif;
		color: white;
	}

	.header {
		background: url("../images/blackChalkBoard.jpg") repeat;
		background-repeat: repeat;
		width: 100%;
        /*margin: auto;*/
		border-bottom: 2px solid black;
		color: white;
		background-position: center;
	}

	h1 {
        font-size: 1.5em;
		margin: 0;
		padding: .5em 0;
		text-align: center;
	}
    
	.footer {
        margin: 1em 0 0 0;
		width: 100%;
		height: 40px;
		border-top: 2px solid black;
		text-align: center;
		background-color: black;
	}

}/*closes mobile query

/****************************************************************************************************/

/*tablet query starts here*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	
@font-face {
		font-family: 'Firestarter Z';
		src: url('../fonts/Firestarter Z.ttf');
	}

	.uppercase {
		text-transform: uppercase;
	}
    
    .uppercaseNames {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .25px;
    }
    
	.header {
		position: fixed;
		display: inline-block;
		top: 0;
		width: 100%;
		height: 100px;
		border-bottom: 2px solid black;
		font-family: 'Firestarter Z';
		color: white;
		background-color: #525252;
		z-index: 2;
	}
	.header h1 {
		margin: 0;
		font-weight: normal;
		position: relative;
		font-size: 3.0em;
		top: 20px;
		left: 30px;
		width: 80%;
		display: inline-block;
	}
	.navbar {
		position: fixed;
		top: 100px;
		width: 13%;
		height: 0px;
		z-index: 2;
	}
	.navbar ul {
		height: 100px;
		list-style: none;
		text-align: center;
		padding: 0;
		margin: 0;
	}
	.navbar li {
		background: rgb(71, 71, 74);
		border-bottom: none;
		line-height: 7em;
		font-size: 1.5em;
		margin-left: -1px;
        letter-spacing: 2px;
	}
	.navbar a {
		background-position: center;
		text-decoration: none;
		color: #fff;
		display: block;
		transition: .3s background-color;
	}
	.navbar a:hover {
		background-color: rgb(20, 20, 30);
        text-transform: uppercase;
	}

	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 80px;
		border-top: 2px solid black;
		text-align: center;
		font-size: 20px;
		background-color: #525252;
		color: white;
		z-index: 1;
	}
    
/*this is the user icon*/
	#parentInfo {
		position: fixed;
        right: 3em;
	}
	#parentInfo p {
        float: right;
		font-size: 20px;
	}
	#parentInfo img {
        position: relative;
        top: -3.5em;
        right: -6em;
		border-radius: 5px;
		width: 70px;
		height: 70px;
		border-radius: 5px;
	}

}/*closes tablet query*/

/*****************************************************************************************************/

/*laptop query starts here*/

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
	
	@font-face {
		font-family: 'Firestarter Z';
		src: url('../fonts/Firestarter Z.ttf');
	}
	.uppercase {
		text-transform: uppercase;
	}
	.uppercaseNames {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: .25px;
	}
	body {
		position: relative;
		top: 180px;
		color: black;
		background: white;
	}
	.header {
		position: fixed;
		display: inline-block;
		top: 0;
		width: 100%;
		height: 80px;
		border-bottom: 2px solid black;
		font-family: 'Firestarter Z';
		color: white;
		background-color: #525252;
		z-index: 2;
	}
	.header h1 {
		margin: 0;
		font-weight: normal;
		position: relative;
		font-size: 2.0em;
		top: 20px;
		left: 30px;
		width: 80%;
		display: inline-block;
	}
	.navbar {
		position: fixed;
		top: 82px;
		width: 13%;
		z-index: 2;
	}
	.navbar ul {
		height: 100px;
		list-style: none;
		text-align: center;
		padding: 0;
		margin: 0;
	}
	.navbar li {
		background: rgb(71, 71, 74);
		border-bottom: none;
		line-height: 96px;
		font-size: 15px;
		margin-left: -1px;
		letter-spacing: 2px;
	}
	.navbar a {
		background: #336699;
		background-position: center;
		text-decoration: none;
		color: #fff;
		display: block;
		transition: .3s background-color;
	}
	.navbar a:hover {
		background-color: rgb(20, 20, 30);
		text-transform: uppercase;
	}
	.footer {
		position: fixed;
		top:562px;
		width: 100%;
		height: 63px;
		border-top: 2px solid black;
		text-align: center;
		font-size: 20px;
		background-color: #525252;
		color: white;
		z-index: 1;
		right: 0px;
	}
	/*this is the user icon*/
	/*#parentInfo {
		position: fixed;
		left: 1000px;
		bottom: 475px
	}
	#parentInfo img {
		position: relative;
		top: -3.5em;
		right: -6em;
		border-radius: 5px;
		width: 70px;
		height: 70px;
		border-radius: 5px;
	}
	#parentInfo span {
		position: absolute;
		left: 180px;
		bottom: 90px;
	}*/

	/*this is the user icon*/
    #parentInfo {
        position: fixed;
       right: 3em;
    }
    #parentInfo p {
       float: right;
        font-size: 20px;
    }
    #parentInfo img {
       position: relative;
       top: -2.5em;
       right: -6em;
       border-radius: 5px;
       width: 70px;
       height: 70px;
    }

}/*closes laptop query*/

/************************************************************************************************/
/*large screen query starts here*/
@media only screen and (min-width: 1824px) {
	
	@font-face {
		font-family: 'Firestarter Z';
		src: url('../fonts/Firestarter Z.ttf');
	}
    
	.yellow {
		color: rgba(255, 225, 0, 0.01);
	}
	.uppercase {
		text-transform: uppercase;
	}
	body {
		position: relative;
		top: 180px;
		color: black;
		background: #ebe7e7;
	}
	.header {
		position: fixed;
		display: inline-block;
		top: 0;
		width: 100%;
		height: 100px;
		border-bottom: 2px solid black;
		font-family: 'Firestarter Z';
		color: white;
		background-color: #525252;
		z-index: 2;
	}
	.header h1 {
		margin: 0;
		font-weight: normal;
		position: relative;
		font-size: 3.0em;
		top: 20px;
		left: 30px;
		width: 80%;
		display: inline-block;
	}
	.navbar {
		position: fixed;
		top: 100px;
		width: 9%;
		height: 0px;
		z-index: 2;
	}
	.navbar ul {
		height: 100px;
        width: 30px;
		list-style: none;
		text-align: center;
		padding: 1em;
		margin: 0;
	}
	.navbar li {
		background: black;
		border-bottom: none;
		line-height: 8em;
		font-size: 1.3em;
		margin-left: -1px;
	}
	.navbar a {
		background:#336699;
		background-position: center;
		text-decoration: none;
		color: #fff;
		letter-spacing:4px;
		display: block;
		transition: .3s background-color;
	}
	.navbar a:hover {
		background-color: #195189;
		text-transform: uppercase;

	}
	.footer {
		position: fixed;
		bottom: -20px;
		width: 100%;
		height: 58px;
		border-top: 2px solid black;
		text-align: center;
		font-size: 20px;
		background-color: #525252;
		color: #ffffff;
		z-index: 1;
		margin-bottom: 20px;
	}
	#parentInfo {
		position: absolute;
		left: 1640px;
		top: 5px;
	}
	#parentInfo img {
		width: 70px;
		height: 70px;
		border-radius: 5px;
	}

	#parentInfo span {
		position:absolute;
		left: 80px;
		bottom: 40px;
		font-size: 20px;
	}
	
}/*closes large screen*/