/*mobile query starts here*/
/*@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	@font-face {
		font-family: 'EraserDust';
		src: url('../fonts/EraserDust.ttf');
	}
	body {
		background: url("../images/greenChalkBoard.jpg");
		background-size: 100%;
		font-family: serif;
		color: white;
	}
	.header {
		background: url("../images/blackChalkBoard.jpg") repeat;
		background-repeat: repeat-x;
		width: 100%;
		border-bottom: 2px solid black;
		font-family: 'EraserDust';
		color: white;
		background-position: center;
	}
	h1 {
		margin: 0;
		padding: .5em 0;
		text-align: center;
	}
	.footer {
		position: fixed;
		width: 100%;
		height: 60px;
		border-top: 2px solid black;
		text-align: center;
		bottom: 0;
	}
}

/*closes mobile query*/
/****************************************************************************************************/
/*tablet query starts here*/
/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	@font-face {

		font-family: 'EraserDust';
		src: url('../fonts/EraserDust.ttf');
	}
	a:visited{
        color: white;
    }
    a:link {
        color: white;
    }
	body {
		font-family: serif;
		color: black;
	}
	.header {
		width: 100%;
		height: 100px;
		border-bottom: 2px solid black;
		font-family: 'EraserDust';
		color: white;
		background: url("../images/blackChalkBoard.jpg") repeat;
		background-position: center;
	}
	.header h1 {
		margin-top: 50px;
		padding: 1em;
		position: relative;
		text-align: center;
		font-size: 3em;
		top: 20px;
		left: 40px;
		width: 80%;
		display: inline-block;
	}
	.footer {
		width: 100%;
		height: 60px;
		border-top: 2px solid black;
		text-align: center;
	}
}

/*closes tablet query*/
/*****************************************************************************************************/
/*laptop query starts here*/

/*@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
	@font-face {
		font-family: 'Firestarter Z';
		src: url('../fonts/Firestarter Z.ttf');
	}
	.yellow {
		color: rgba(255, 225, 0, 1);
	}
	.uppercase {
		text-transform: uppercase;
	}
	body {
		position: relative;
		top: 180px;
		color: black;
		background: white;
		/*this works great for a fixed header and nav bar situation on some (not sure about all) pages
	}
	.header {
		position: fixed;
		display: inline-block;
		top: 0;
		width: 100%;
		height: 100px;
		border-bottom: 2px solid black;
		font-family: 'Firestarter Z';
		color: white;
		background-color: #525252;
		z-index: 2;
	}
	.header h1 {
		margin: 0;
		font-weight: normal;
		position: relative;
		font-size: 3.0em;
		top: 20px;
		left: 30px;
		width: 80%;
		display: inline-block;
	}
	.navbar {
		position: fixed;
		top: 100px;
		width: 9%;
		height: 0px;
		z-index: 2;
	}
	.navbar ul {
		height: 100px;
		list-style: none;
		text-align: center;
		padding: 0;
		margin: 0;
	}
	.navbar li {
		background: black;
		border-bottom: none;
		line-height: 5.9em;
		line-height: 8em;
		font-size: 1.3em;
		margin-left: -1px;
	}
	.navbar a {
		background:#336699;
		background-position: center;
		text-decoration: none;
		color: #fff;
		/*display: block;*/
		/*transition: .3s background-color;*/
	}
	.navbar a:hover {
		background-color: #195189;
		text-transform: uppercase;
	}

	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 80px;
		border-top: 2px solid black;
		text-align: center;
		font-size: 20px;
		background-color: #525252;
		color: #ff0000;
		z-index: 1;
	}
	#parentInfo {
		position: absolute;
		left: 1300px;
		top: 5px;
	}
	#parentInfo img {
		width: 70px;
		height: 70px;
		border-radius: 5px;
	}
	#parentInfo span {
		position:absolute;
		left: 80px;
		bottom: 50px;
	
	}
}*/



/*closes laptop query*/
/************************************************************************************************/
/*large screen query starts here*/

@media only screen and (min-width: 1824px) {
	@font-face {
		font-family: 'Firestarter Z';
		src: url('../fonts/Firestarter Z.ttf');
	}
	.yellow {
		color: rgba(255, 225, 0, 1);
	}
	.uppercase {
		text-transform: uppercase;
	}
	body {
		position: relative;
		top: 180px;
		color: black;
		background: #ebe7e7;
		/*this works great for a fixed header and nav bar situation on some (not sure about all) pages*/
	}
	.header {
		position: fixed;
		display: inline-block;
		top: 0;
		width: 100%;
		height: 100px;
		border-bottom: 2px solid black;
		font-family: 'Firestarter Z';
		color: white;
		background-color: #525252;
		z-index: 2;
	}
	.header h1 {
		margin: 0;
		font-weight: normal;
		position: relative;
		font-size: 3.0em;
		top: 20px;
		left: 30px;
		width: 80%;
		display: inline-block;
	}
	.navbar {
		position: fixed;
		top: 100px;
		width: 9%;
		height: 0px;
		z-index: 2;
	}
	.navbar ul {
		height: 100px;
        width: 30px;
		list-style: none;
		text-align: center;
		padding: 1em;
		margin: 0;
	}
	.navbar li {
		background: black;
		border-bottom: none;
		line-height: 5.9em;
		line-height: 8.2em;
		font-size: 1.3em;
		margin-left: -1px;
	}
	.navbar a {
		background:#336699;
		background-position: center;
		text-decoration: none;
		color: #fff;
		letter-spacing:4px;
		display: block;
		transition: .3s background-color;
	}
	.navbar a:hover {
		background-color: #195189;
		text-transform: uppercase;

	}
	.footer {
		position: fixed;
		bottom: -1em;
		width: 100%;
		height: 80px;
		border-top: 2px solid black;
		text-align: center;
		font-size: 20px;
		background-color: #525252;
		color: #ffffff;
		z-index: 1;
	}
	#parentInfo {
		position: absolute;
		left: 1640px;
		top: 5px;
	}
	#parentInfo img {
		width: 70px;
		height: 70px;
		border-radius: 5px;
	}
	#parentInfo span {
		position:absolute;
		left: 80px;
		bottom: 40px;
		font-size: 20px;
	
	}
}

/*closes large screen query