@media screen and (min-width: 600px) {

  /*parent profile*/

  #parentContainer {
    width: 80%;
    height: 900px;
    margin: auto;
  }

  #parentProImg {
    position: relative;
    display: inline-block;
    margin-top: 25px;
  }

  #parentProImg img {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 10px;
    display: inline-block;
  }

  .uploadPic {
    visibility: hidden;
    width: 16%;
    position: absolute;
    right: 180px;
  }

  #addPhoto {
    position: absolute;
    font-size: 30px;
    bottom: 177px;
  }

  #addPhoto:hover {
    cursor: pointer;
  }

  #parentInfoDiv {
    width: 75%;
    height: 200px;
    position: relative;
    display: inline-block;
    float: right;
    top: 25px;
    border: 1px solid white;
    border-radius: 5px;
    overflow: scroll;
  }

  #parentInfo p {
    margin-left: 20px;
  }

  #parentEvents {
    width: 100%;
    height: 250px;
    overflow: scroll;
    margin-top: 20px;
  }

  .hrSpecial2 {
      border: 0;
      height: 1px;
      background: #333;
      background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  /*end parent profile*/


  /*start parent profile - teacher view*/


  #parentTView {
    width: 80%;
    height: 900px;
    margin: auto;
  }

  #parentInfoTView {
    width: 75%;
    height: 200px;
    position: relative;
    display: inline-block;
    float: right;
    top: 15px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
  }

  #parentInfoTView ul {
    list-style: none;
    margin: 0;
  }

  #parentInfoTView li {
    margin-top: 10px;
  }

  .parentImg {
    position: relative;
    display: inline-block;
    margin-top: 15px;
  }

  .parentImg img {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 10px;
    display: inline-block;
  }


}