@media screen and (min-width: 600px) {

@font-face { font-family: 'EraserDust'; src: url('../fonts/EraserDust.ttf'); } 

/*parent profile*/

#parentContainer {
	width: 80%;
	height: 900px;
	margin: auto;
}

.hrSpecial {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.parentImg {
	position: relative;
	display: inline-block;
	margin-top: 15px;
}

.parentImg img {
	width: 200px;
	height: 200px;
	border-radius: 10px;
	display: inline-block;
}

.parentInfo {
	width: 75%;
	height: 200px;
	margin-top: 10px;
	position: relative;
	display: inline-block;
	float: right;
}

.parentEvents {
	width: 100%;
	height: 200px;
	overflow: scroll;
}

.hrSpecial2 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/*end parent profile*/








}