/*mobile query starts here*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
     
      

}/*closes mobile query*/
/****************************************************************************************************/
/*tablet query starts here*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {



}/*closes tablet query*/
/*****************************************************************************************************/
/*laptop query starts here*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 

  /*parent profile*/
  #parentContainer {
    width: 80%;
    height: 900px;
    margin: auto;
  }

  #parentProImg {
    position: relative;
    display: inline-block;
    margin-top: 25px;
  }

  #imageList img {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 10px;
    display: inline-block;
  }

  .uploadPic {
    visibility: hidden;
    width: 16%;
    position: absolute;
    right: 180px;
  }

  #addPhoto {
    position: absolute;
    font-size: 30px;
    bottom: 177px;
  }

  #addPhoto:hover {
    cursor: pointer;
  }

  #parentInfoDiv {
    width: 75%;
    height: 200px;
    position: relative;
    display: inline-block;
    float: right;
    top: 25px;
    border: 1px solid white;
    border-radius: 5px;
    overflow: scroll;
  }

  #parentInfo p {
    margin-left: 20px;
  }

  #parentEvents {
    width: 100%;
    height: 250px;
    overflow: scroll;
    margin-top: 20px;
  }

  .hrSpecial2 {
      border: 0;
      height: 1px;
      background: #333;
      background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  /*end parent profile*/

  /*start parent profile - teacher view*/


  #parentTView {
    width: 80%;
    height: 900px;
    margin: auto;
  }

  #parentInfoTView {
    width: 75%;
    height: 200px;
    position: relative;
    display: inline-block;
    float: right;
    top: 15px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
  }

  #parentInfoTView ul {
    list-style: none;
    margin: 0;
  }

  #parentInfoTView li {
    margin-top: 10px;
  }

  .parentImg {
    position: relative;
    display: inline-block;
    margin-top: 15px;
  }

  .parentImg img {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 10px;
    display: inline-block;
  }

}/*closes laptop query*/
/************************************************************************************************/
/*large screen query starts here*/
@media only screen  and (min-width : 1824px) {



}/*closes large screen query*/