@media screen and (min-width: 600px) {
	#header {
		width: 100%;
		height: 60px;
		text-align: center;
		border-bottom: 2px solid black;
	}
	/*parent profile*/
	#parentContainer {
		width: 80%;
		height: 900px;
		margin: auto;
	}
	.navbar {
		width: 80%;
		height: 30px;
		margin: auto;
		margin-top: 10px;
	}
	.navbar ul {
		margin: 0;
		list-style: none;
	}
	.navbar li {
		display: inline-block;
		position: relative;
		float: left;
		margin-left: 50px;
	}
	.navbar a {
		text-decoration: none;
		color: blue;
	}
	.navbar a:hover {
		border-bottom: 2px solid blue;
	}
	.hrSpecial {
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}
	.parentImg {
		position: relative;
		display: inline-block;
		margin-top: 15px;
	}
	.parentImg img {
		width: 200px;
		height: 200px;
		border-radius: 10px;
		display: inline-block;
	}
	.parentInfo {
		width: 75%;
		height: 200px;
		margin-top: 10px;
		position: relative;
		display: inline-block;
		float: right;
	}
	.parentEvents {
		width: 100%;
		height: 200px;
		overflow: scroll;
	}
	.hrSpecial2 {
		border: 0;
		height: 1px;
		background: #333;
		background-image: linear-gradient(to right, #ccc, #333, #ccc);
	}
	/*end parent profile*/
	#footer {
		width: 100%;
		height: 40px;
		border-top: 2px solid black;
	}
}