/*mobile query starts here*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  
  a:visited { color: white; }
  a:link { color: white; }
  .black { color: black; }
  .lightBlue { color: lightBlue;}
  
  #studentContainer {
      width: 80%;
      margin: auto;
  }

  

}/*closes mobile query*/
/****************************************************************************************************/
/*tablet query starts here*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {



}/*closes tablet query*/
/*****************************************************************************************************/
/*laptop query starts here*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 

  a:visited {
  	color: white;
  }
  	a:link {
  	color: white;
  }
  .opaDiv {
    background-color: rgba(20, 30, 20, 0.25);
    border-radius: 8px;
    padding: 0 0 1em 2em;
  }

  .black {
    color: black;
  }

  .lightBlue {
    color: lightBlue;
  }

  body {
    margin-top: 200px;
    margin-bottom: 100px;
  }

  /*student profile - parent view*/


  #studentContainer {
      width: 80%;
      margin: auto;
      /*font-family: 'Walter Turncoat', cursive;*/
  }

  .studentImg {
      position: relative;
      display: inline-block;
      margin-top: 15px;
  }

  .studentImg img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      display: inline-block;
  }

  #studentInfoDiv {
    width: 75%;
    height: 200px;
    position: relative;
    display: inline-block;
    float: right;
    top: 15px;
    border: 1px solid white;
    border-radius: 5px;
    overflow: scroll;
  }

  #studentInfo ul {
    list-style: none;
  }

  #studentInfo li {
    margin: 10px;
    font-size: 20px;
  }

  .classesApiDiv ul {
    list-style: none;
  }

  .classesApiDiv li {
    margin-left: 30px;
  }

  .studentBehavior {
      width: 50%;
      /*height: 325px;*/
      /*display: inline-block;*/
      /*overflow: scroll;*/
      /*border-right: 1px solid black;*/
      /*position: relative;*/
      /*top: 30px;*/
  }

  .studentBehavior p {
      margin: 0;
  }

  .studentAttendance {
      width: 49%;
      height: 325px;
      display: inline-block;
      float: right;
      position: relative;
      top: 30px;
  }

  .studentAttendance p {
      margin: 0;
  }

  .studentEvents {
      width: 50%%;
      /*height: 300px;*/
      /*overflow: scroll;*/
      /*position: relative;*/
      /*top: 20px;*/
  }

  .hrSpecial2 {
     border: 0;
     height: 1px;
     background: #333;
     background-image: linear-gradient(to right, #ccc, #333, #ccc);
     position: relative;
     top: 20px;
  }

  /*end student profile parent view*/
  
}/*closes laptop query*/
/************************************************************************************************/
/*large screen query starts here*/
@media only screen  and (min-width : 1824px) {



}/*closes large screen query*/
