


/**-------------------------- TEACHER VIEW - STUDENT PROFILE - classSet.HTML ---------------------------**/

  #setContainer {
    width: 70%;
    margin: auto;
  }



/*--------------------- STUDENT PROFILE - DETAIL TEACHER VIEW - student_teacher.html --------------------*/

  #studentDataContainer {
    width: 75%;
    height: 800px;
    margin: auto;
    position: relative;
    bottom: 50px;
  }

  #backBtn a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    position: relative;
  }

  #backBtn a:hover {
    color: white;
    background: #006495;
  }


  .studentImg {
      position: relative;
      display: inline-block;
      margin-top: 15px;
      margin-left: 30px
  }

  .studentImg img {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      display: inline-block;
  }

  #studentDataDiv {
    width: 70%;
    height: 200px;
    margin: auto;
    position: relative;
    display: inline-block;
    top: 15px;
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 20px;
    overflow: scroll;
  }

  #studentData ul {
    list-style: none;
  }

  #studentData li {
    margin: 10px;
    font-size: 20px;
  }

  .classesApiDiv ul {
    list-style: none;
  }

  .classesApiDiv li {
    margin-left: 30px;
  }

  .color {
    color: #006495;
  }

  .hrSpecial2 {
     border: 0;
     height: 1px;
     background: #333;
     background-image: linear-gradient(to right, #ccc, #333, #ccc);
     position: relative;
     top: 30px;
  }



/*--------------------------- STUDENT PROFILE - ATTENDANCE - TEACHER - student_teacher.html -------------------------*/

  #enterBehavior {
    width: 50%;
    height: 250px;
    display: inline-block;
    overflow: scroll;
    border-right: 1px solid black;
    position: relative;
    top: 40px;
  }

  #enterBehavior p {
    font-size: 20px;
    margin: 0;
  }

  #enterBehavior ul {
    list-style: none;
    padding: 0;
  }

  #enterBehavior li {
    font-size: 18px;
  }


/*------------------------ STUDENT PROFILE - BEHAVIOR - TEACHER - student_teacher.html -------------------------------*/


  #enterAttendance {
    width: 45%;
    height: 250px;
    font-size: 20px;
    display: inline-block;
    overflow: scroll;
    position: relative;
    top: 40px;
    left: 10px;
  }

  #enterAttendance p {
    margin: 0;
  }

  #enterAttendance ul {
    list-style: none;
  }

  #enterAttendance li {
    font-size: 18px;
  }

/*-------------------------- STUDENT PROFILE - GRADES - TEACHER - student_teacher.html ----------------------------*/

  #enterGrades {
    width: 100%;
    height: 200px;
    overflow: scroll;
    font-size: 20px;
    position: relative;
    top: 30px;
  }

  #enterGrades p {
    margin: 0;
  }

  #enterGrades ul {
    list-style: none;
  }
  
  #enterGrades li {
    font-size: 18px;
  }


  

