  #teachHome{
	  position: fixed;
    display: inline-block;
    margin-top: 25px;
    margin-left: 50px;
    font-family: serif;
  }
  
  #teachHome p{
    position: absolute;
    left:70px;
    font-size: 18px;

  }
  
  #teachHome img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }

  /*end teacher profile*/

  /*start teacher profile - parent view*/

  #teacherPView {
    width: 80%;
    height: 900px;
    margin: auto;
  }

  .teacherImg {
    position: relative;
    display: inline-block;
    margin-top: 15px;
  }

  .teacherImg img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: inline-block;
  }

  .teachInfoPView {
    width: 75%;
    height: 200px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    float: right;
    top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
  }

  .teachInfoPView ul {
    list-style: none;
    margin: 0;
  }

  .teachInfoPView li {
    margin-top: 10px;
  }

  .visibleBorder {
    border: 1px solid black;
  }
