@media screen and (min-width: 600px) {

@font-face { font-family: 'EraserDust'; src: url('../fonts/EraserDust.ttf'); } 

#header {
	width: 100%;
	height: 80px;
	border-bottom: 2px solid black;
	font-family: 'EraserDust';
	font-size: 30px;
	color: white;
	background: url("http://img04.deviantart.net/dd7c/i/2015/010/0/3/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.jpg") no-repeat;
	background-position: center;
}

#header h1 {
	margin: 0;
	position: relative;
	top: 20px;
	left: 10px;
	width: 40%;
	display: inline-block;
	font-weight: normal;
	font-size: 35px;
}
/*teacher profile*/

#teacherContainer {
	width: 80%;
	height: 900px;
	margin: auto;
}

.navbar {
	width: 80%;
	height: 30px;
	margin: auto;
	margin-top: 10px;
}

.navbar ul {
	margin: 0;
	list-style: none;
}

.navbar li {
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 50px;
}

.navbar a {
	text-decoration: none;
	color: blue;
}

.navbar a:hover {
	border-bottom: 2px solid blue;
}

.hrSpecial {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.teacherImg {
	position: relative;
	display: inline-block;
	margin-top: 15px;
}

.teacherImg img {
	width: 200px;
	height: 200px;
	border-radius: 10px;
	display: inline-block;
}

.teacherInfo {
	width: 75%;
	height: 200px;
	margin-top: 10px;
	position: relative;
	display: inline-block;
	float: right;
	top: 5px;
	border: 1px solid black;
	border-radius: 5px;
	overflow: scroll;
}

.teacherInfo ul {
	list-style: none;
	margin: 0;
}

.teacherInfo li {
	margin-top: 10px;
}

.teacherEvents {
	width: 100%;
	height: 200px;
	overflow: scroll;
}

.hrSpecial2 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/*end teacher profile*/



#footer {
	width: 100%;
	height: 40px;
	border-top: 2px solid black;
}









}