/*mobile query starts here*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
     
      

}/*closes mobile query*/
/****************************************************************************************************/
/*tablet query starts here*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {



}/*closes tablet query*/
/*****************************************************************************************************/
/*laptop query starts here*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 

  /*teacher profile*/

  #teachHome{
    position: fixed;
    display: inline-block;
    margin-top: 25px;
    margin-left: 50px;
    font-family: serif;
  }
  
  #teachHome p{
    position: absolute;
    left:70px;
    font-size: 18px;

  }
  
  #teachHome img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }

  /*end teacher profile*/

  /*start teacher profile - parent view*/

  #teacherPView {
    width: 80%;
    height: 900px;
    margin: auto;
  }

  .teacherImg {
    position: relative;
    display: inline-block;
    margin-top: 15px;
  }

  .teacherImg img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: inline-block;
  }

  .teachInfoPView {
    width: 75%;
    height: 200px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    float: right;
    top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
  }

  .teachInfoPView ul {
    list-style: none;
    margin: 0;
  }

  .teachInfoPView li {
    margin-top: 10px;
  }

  .visibleBorder {
    border: 1px solid black;
  }

}/*closes laptop query*/
/************************************************************************************************/
/*large screen query starts here*/
@media only screen  and (min-width : 1824px) {



}/*closes large screen query*/