
  @font-face { font-family: 'Firestarter Z'; src: url('../fonts/Firestarter Z.ttf'); } 

  
  #pageContainer {
    width: 70%;
    height: 100%;
    margin: auto;
    position: relative;
    top: 60px;
  }

  #h2Parent {
    padding: .5em;
  }
    
  .waiverHeader h2 {
    position: relative;
    text-align: center;
    font-size: 40px;
  } 

  #waiverDiv {
    border: 4px solid lightgray;
    margin-top: 60px;
  }

  #waiverDiv h2 {
    margin: 20px;
  }

  #waiverDiv ul {
    list-style: none;
  }

  #waiverDiv li {
    margin: 20px;
  }

  #waiverDiv a {
    text-decoration: none;
    color: rgb(21, 149, 182);
    font-size: 21px;
  }

  #waiverDiv a:hover {
    text-decoration: underline;
    font-weight: bold;
  }

  #studentWaiverDiv {
    width: 80%;
    margin: auto;
  }

  #studentWaiver ul {
    list-style: none;
  }
  
  #studentWaiver a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    color: rgb(21, 149, 182);
  }

  #studentWaiver a:hover {
    text-decoration: underline;
    font-weight: bold;
  }

  #waiverContainer {
    width: 70%;
    margin: auto;
    position: relative;
    top: 100px;
  }
    
  .sexyButton {
    color: #08233e;
    font: 1.5em Futura, 'Century Gothic', AppleGothic, sans-serif;
    padding: 8px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba (255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
    color: rgb(21, 149, 182);
   }

